<!-- Binds the form to the formGroup instance and handles form submission. -->
<form class="flex flex-col mx-auto p-2 md:w-1/2 w-full"
      [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Iterates over each field in the config input property. -->
  <div *ngFor="let field of config">

    <!-- Label for the form control with dynamic 'for' attribute and content. -->
    <label *ngIf="field.type !== 'checkbox'" class="block mb-2 mt-4 text-sm font-medium"
           [for]="field.name">{{ ('labels.' + field.label.toLowerCase()) | translate }}</label>

    <!-- Conditionally renders input elements based on the field type. -->
    <input
      class="input-global text-sm rounded-lg block w-full placeholder-gray-400 focus:ring-gray-400 focus:border-white"
      *ngIf="field.type === 'text'" [id]="field.name" [formControlName]="field.name" [type]="field.type"
    >

    <input
      class="input-global text-sm rounded-lg block w-full placeholder-gray-400 focus:ring-gray-400 focus:border-white"
      *ngIf="field.type === 'email'" [id]="field.name" [formControlName]="field.name" [type]="field.type"
    >

    <input
      class="input-global text-sm rounded-lg block w-full placeholder-gray-400 focus:ring-gray-400 focus:border-white"
      *ngIf="field.type === 'number'" [id]="field.name" [formControlName]="field.name" [type]="field.type"
    >

    <ng-container *ngIf="field.type === 'checkbox'">
      <div class="flex flex-row ">
        <label *ngIf="field.type === 'checkbox'" class="block mb-2 mt-4 text-sm font-medium dark:text-white"
               [for]="field.name">{{ ('labels.' + field.label.toLowerCase()) | translate }}</label>
        <input
          class="my-auto ms-4 w-4 h-4 border border-gray-300 rounded focus:ring-1 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
          *ngIf="field.type === 'checkbox'" [id]="field.name" [formControlName]="field.name" [type]="field.type"
        >
      </div>
    </ng-container>

    <input
      class="input-global text-sm rounded-lg block w-full placeholder-gray-400 focus:ring-gray-400 focus:border-white"
      *ngIf="field.type === 'password'" [id]="field.name" [formControlName]="field.name" [type]="field.type"
    >

    <input
      class="input-global text-sm rounded-lg block w-full placeholder-gray-400 focus:ring-gray-400 focus:border-white"
      *ngIf="field.type === 'date'" [id]="field.name" [formControlName]="field.name" [type]="field.type"
    >

    <!-- Renders a textarea element if the field type is 'textarea'. -->
    <textarea
      class="input-global text-sm rounded-lg block w-full placeholder-gray-400 focus:ring-gray-400 focus:border-white"
      *ngIf="field.type === 'textarea'" [id]="field.name" [formControlName]="field.name" [rows]="rows"></textarea>

    <ng-container *ngIf="field.type === 'angular-textarea'">
      <angular-editor [formControlName]="field.name"  [id]="field.name" [config]="editorTextareaConfig" required></angular-editor>
    </ng-container>

    <ng-container *ngIf="field.type === 'angular-email'">
      <angular-editor [formControlName]="field.name"  [id]="field.name" [config]="editorEmailConfig" required></angular-editor>
    </ng-container>

    <!-- Add select element -->
    <div *ngIf="field.type === 'select'">
      <select
        class="input-global text-sm rounded-lg block w-full placeholder-gray-400 focus:ring-gray-400 focus:border-white"
        [id]="field.name" [formControlName]="field.name">
        <option class="text-black" *ngFor="let option of field.options" [value]="option.value">{{ ('labels.' + option.label.toLowerCase()) | translate }}</option>
      </select>
    </div>

    <!-- Error message for required fields -->
    <!-- Display the error message if the form control is invalid and has been touched -->
    <div *ngIf="form.controls[field.name].invalid && form.controls[field.name].touched">
      <!-- Display specific error message for 'required' validation -->
      <div class="block mb-2 ms-2 text-sm font-medium text-red-600"
        *ngIf="form.controls[field.name].errors?.['required']">{{ ('labels.' + field.label.toLowerCase()) | translate }} {{ 'labels.required' | translate }}
      </div>
    </div>

  </div>

  <!-- Submit button with dynamic label and disabled state based on form validity. -->
  <button class="btn-admin add rounded-lg mt-2 focus:bg-transparent"
          type="submit" [disabled]="form.invalid">{{ submitLabel | translate }}</button>
</form>
