<app-breadcrumb-admin first="breadcrumb.books"/>

<!-- Button to navigate to the add books admin page - START -->
<ng-container *ngIf="books$ && !loading && !error">
  <div class="flex justify-center pb-5">
    <app-button-admin [width]="true" [routerLink]="'/add-books-admin'" />
  </div>
</ng-container>
<!-- Button to navigate to the add books admin page - END -->

<!-- Container to check if books data is available and show content or error template accordingly - START -->
<ng-container *ngIf="books$ | async as books">
  <!-- Container for the card grid -->
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <!-- Loop through each book and display its information along with action buttons -->
      <div class="flex bg-background-menu flex-col p-4 border border-gray-700 rounded-lg shadow-lg" *ngFor="let book of books">
        <div class="flex-1 overflow-x-auto ms-4 mb-4">
          <app-show-data
            [naslov]="book.naslov"
            [podnaslov]="book.podnaslov"
            [vsebina]="book.vsebina"
            [imageName]="book.image"
          />
        </div>
        <!-- Buttons for editing and deleting book, and opening a dialog -->
        <div class="flex justify-center">
          <app-button-admin
            (dialogRead)="openDialog(book._id)"
            [routerLinkId]="['/edit-books-admin', book._id ?? '']"
            (delete)="deleteBook(book._id)"
          />
        </div>
      </div>
    </div>
  </div>

</ng-container>
<!-- Container to check if books data is available and show content or error template accordingly - END -->

<!-- Error message display if the data fetching fails - START -->
<ng-container *ngIf="error && !loading">
  {{ error }}
</ng-container>
<!-- Error message display if the data fetching fails - END -->

<!-- Loading spinner - START -->
<ng-container *ngIf="loading">
  <app-loading></app-loading>
</ng-container>
<!-- Loading spinner - END -->

<!-- Button to navigate back to the previous page - START -->
<app-go-back [booksAdmin]="true"/>
<!-- Button to navigate back to the previous page - END -->
