<section class="pt-10 overflow-hidden sm:pt-16 2xl:pt-16">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="grid items-center grid-cols-1 md:grid-cols-2">

      <div>
        <h2 class="text-3xl font-bold leading-tight text-white sm:text-3xl lg:text-4xl">Fullstack software developer
          <br/>Danilo Jezernik
        </h2>
        <p class="max-w-lg mt-3 text-xl leading-relaxed text-gray-600 dark:text-gray-300 md:mt-8">
          Amet minim mollit non deserunt
          ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.
        </p>

        <div class="flex flex-col mb-8 lg:mb-16 mt-4 space-y-4 sm:flex-row sm:justify-start sm:space-y-0 sm:space-x-4">
          <a routerLink="/projects"
             class="inline-flex justify-center btn-public add items-center text-center rounded">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"
                 class="mr-2 -ml-1 w-5 h-5">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <defs>
                  <style>.cls-1 {
                    fill: none;
                    stroke: #ffffff;
                    stroke-miterlimit: 10;
                    stroke-width: 1.92px;
                  }</style>
                </defs>
                <g id="presentation_standing" data-name="presentation standing">
                  <line class="cls-1" x1="0.5" y1="1.48" x2="23.5" y2="1.48"></line>
                  <line class="cls-1" x1="0.5" y1="16.81" x2="23.5" y2="16.81"></line>
                  <rect class="cls-1" x="2.42" y="1.48" width="19.17" height="15.33"></rect>
                  <line class="cls-1" x1="12" y1="16.81" x2="12" y2="23.52"></line>
                  <polyline class="cls-1" points="8.17 23.52 8.17 22.56 12 19.69"></polyline>
                  <polyline class="cls-1" points="15.83 23.52 15.83 22.56 12 19.69"></polyline>
                </g>
              </g>
            </svg>
            {{ 'button.projects' | translate }}
          </a>
          <a routerLink="/biography"
             class="inline-flex justify-center btn-public register border items-center py-3 px-5 text-base font-medium text-center text-white rounded bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 focus:ring-primary-900">
            <svg class="mr-2 -ml-1 w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M13 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
              <path d="M7 21l3 -4"/>
              <path d="M16 21l-2 -4l-3 -3l1 -6"/>
              <path d="M6 12l2 -3l4 -1l3 3l3 1"/>
            </svg>
            {{ 'button.biography' | translate }}
          </a>
          <a routerLink="/learning"
             class="inline-flex justify-center btn-public register border items-center py-3 px-5 text-base font-medium text-center text-white rounded bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 focus:ring-primary-900">
            <svg class="mr-2 -ml-1 w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M12 20m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
              <path d="M10 20h-6"/>
              <path d="M14 20h6"/>
              <path d="M12 15l-2 -2h-3a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-3l-2 2z"/>
              <path d="M12 6v2"/>
              <path d="M12 11v.01"/>
            </svg>
            {{ 'button.learning-path' | translate }}
          </a>

        </div>
      </div>

      <div class="relative">
        <img class="absolute inset-x-0 bottom-0  -translate-x-1/2 left-1/2"
             src="https://cdn.rareblocks.xyz/collection/celebration/images/team/1/blob-shape.svg" alt=""/>

        <img class="relative w-full xl:max-w-lg xl:mx-auto 2xl:origin-bottom 2xl:scale-110"
             src="https://cdn.rareblocks.xyz/collection/celebration/images/team/1/business-woman.png" alt=""/>
      </div>

    </div>
  </div>
</section>

<app-my-gallery/>
