<app-breadcrumb-admin first="breadcrumb.technologies" firstLink="/technologies-admin" second="breadcrumb.tech-vue"
                      secondLink="/tech-all-vue"/>

<!-- Button to navigate to the add blog admin page - START -->
<ng-container *ngIf="vue$ && !loading && !error">
  <div class="flex justify-center pb-5">
    <app-button-admin [width]="true" [routerLink]="'/tech-add-vue'"/>
  </div>
</ng-container>
<!-- Button to navigate to the add blog admin page - END -->

<!-- Container to check if vue data is available, and show content or loading template accordingly - START -->
<ng-container *ngIf="vue$ | async as vue;">

  <div cdkDropList class="container mx-auto px-4" (cdkDropListDropped)="drop($event)">
    <div class="bg-background-menu shadow overflow-hidden sm:rounded-lg">
      <ul class="divide-y divide-gray-200">

        <!-- Loop through each blog and display its information along with action buttons - START -->
        <li class="flex bg-background-menu items-center p-4" *ngFor="let data of vue; let i = index" cdkDrag>
          <div class="flex-1 min-w-0">
            <div class="flex items-center">
              <!-- Drag handle (optional) -->
              <div class="cursor-move mr-4">
                <div class="ms-2">
                  <strong class="text-green-400">{{ i + 1 }}</strong>
                </div>
                <svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 6h.01M8 10h.01M8 14h.01M8 18h.01M12 6h.01M12 10h.01M12 14h.01M12 18h.01M16 6h.01M16 10h.01M16 14h.01M16 18h.01"></path>
                </svg>
              </div>
              <!-- Component to display blog data - START -->
              <div class="flex-1">
                <app-show-data
                  [question]="data.question"
                  [answer]="data.answer"
                  [imageName]="data.image"
                />
              </div>
            </div>
          </div>
          <!-- Component to display data data - END -->

          <div class="ml-4 flex-shrink-0 flex space-x-2">
            <!-- Buttons for editing and deleting data, and opening a dialog - START -->
            <app-button-admin
              (dialogRead)="openDialog(data._id)"
              [routerLinkId]="['/tech-edit-vue', data._id ?? '']"
              (delete)="deleteVue(data._id)"
            />
            <!-- Buttons for editing and deleting blog, and opening a dialog - END -->
          </div>
        </li>
        <!-- Loop through each blog and display its information along with action buttons - END -->
      </ul>
    </div>
  </div>
  <!-- Loop through each blog and display its information along with action buttons - END -->

</ng-container>
<!-- Container to check if vue data is available, and show content or loading template accordingly - END -->

<!-- Error message display if the data fetching fails - START -->
<ng-container *ngIf="error && !loading">
  {{ error }}
</ng-container>
<!-- Error message display if the data fetching fails - END -->

<!-- Loading spinner - START -->
<ng-container *ngIf="loading">
  <app-loading/>
</ng-container>
<!-- Loading spinner - END -->

<!-- Button to navigate back to the previous page - START -->
<app-go-back [vueAdmin]="true" [removeBoolean]="true" (remove)="removeOrder()"/>
<!-- Button to navigate back to the previous page - END -->
