<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

  <!-- Title and description of the blog section - START -->
  <app-hero-title title="pages.register.title" subtitle="pages.register.description"/>
  <!-- Title and description of the blog section - END -->
  <ng-container *ngIf="!error && !loading">
    <app-reusable-form
      [rows]="10"
      [config]="formUserPublicConfig"
      [submitLabel]="'button.register' | translate"
      (formSubmit)="registerNewUser($event)"
    />
  </ng-container>
  <!-- Template to show loading spinner and text while data is being fetched - START -->
  <ng-container *ngIf="loading">
    <div class="flex-1 text-center pulse-bulb-registering text-xl py-12">
      {{  'pending.registration' | translate }}
    </div>
  </ng-container>
  <!-- Template to show loading spinner and text while data is being fetched - END -->
  <!-- Template to show error messages - START -->
  <ng-container *ngIf="error">
    {{ error }}
  </ng-container>
  <!-- Template to show error messages - END -->

</div>
