@import "../abstract/variables";

/*********************************************
     1. Spinner animation and display mixin
*********************************************/

@mixin loader-animation-before($display) {
  display: $display;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

@mixin loader-animation-after($display) {
  display: $display;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

/***********************************************************
   2. Position of the component in the middle - absolute
************************************************************/
@mixin position-absolute-center($percent) {
  top: $percent;
  left: $percent;
  transform: translate(-$percent, -$percent);
}


/***********************************************************
   3. Button hover effect styles
************************************************************/
@mixin button-hover-effect($color-start, $color-end) {
  background: $color-start;
  background: linear-gradient(90deg, $color-start 0%, $color-end 64%);
  &:hover {
    background: darken($color-start, 10%);
    background: linear-gradient(90deg, darken($color-start, 10%) 0%, darken($color-end, 10%) 64%);
  }
}

/***********************************************************
   3. Transparent hover effect styles
************************************************************/
@mixin button-hover-register-effect($color-start, $color-end) {
  background: $color-start;
  &:hover {
    background: darken($color-end, 40%);
  }
}


/***********************************************************
   4. Background chat room styles
************************************************************/
@mixin chat-room-background($color-start, $color-end) {
  background: $color-start;
  background: linear-gradient(90deg, $color-start 0%, $color-end 64%);
  &:hover {
    background: darken($color-start, 10%);
    background: linear-gradient(90deg, darken($color-start, 10%) 0%, darken($color-end, 10%) 64%);
  }
}

