$inline-block: inline-block;
$block: block;
$halp-percent: 50%;

/* IMAGE ONE */
$color-first: #201a1c; /* RGB: (32, 26, 28) */
$color-second: #c117d4; /* RGB: (193, 23, 212) */
$color-third: #f90f63; /* RGB: (249, 15, 99) */
$color-fourth: #4f233d; /* RGB: (79, 35, 61) */
$color-fifth: #eccbdd; /* RGB: (236, 203, 221) */

/* IMAGE 2 */
$color-first: #151323; /* RGB: (21, 19, 35) */
$color-second: #f423b8; /* RGB: (244, 35, 184) */
$color-third: #74707a; /* RGB: (116, 112, 122) */
$color-fourth: #e9d0de; /* RGB: (233, 208, 222) */
$color-fifth: #502f4c; /* RGB: (80, 47, 76) */

