<p>add-blog-admin works!</p>

Naslov: <input style="border: 1px solid black" [(ngModel)]="addNaslov"><br>
Podnaslov: <input style="border: 1px solid black" [(ngModel)]="addPodnaslov"><br>
Vsebina: <input style="border: 1px solid black" [(ngModel)]="addVsebina"><br>
Kategorija: <input style="border: 1px solid black" [(ngModel)]="addKategorija"><br>
Slika: <input style="border: 1px solid black" [(ngModel)]="addImage"><br>

<button style="background-color: brown; color: white; padding: 10px" (click)="addNewBlog()">Add</button>
