<p>blog-all-admin works!</p>

<app-button-admin [routerLink]="'/add-blog-admin'"/>

<ng-container *ngIf="blogs$ | async as blogs">
  <div class="mb-2 border-b-2" *ngFor="let blog of blogs">

    <app-show-data
      [title]="blog['title']"
      [kategorija]="blog['kategorija']"
      [podnaslov]="blog['podnaslov']"
    />

    <app-button-admin
      (dialogRead)="openDialog(blog._id)"
      [routerLinkId]="['/edit-blog-admin', blog._id ?? '']"
      (delete)="deleteBlog(blog._id)"
    />
    
  </div>
</ng-container>

<app-go-back/>
