<p>blog-all-admin works!</p>

<button style="background-color: brown; color: white; padding: 10px" routerLink="/add-blog-admin">Add blog</button>

<ng-container *ngIf="blogs$ | async as blogs">
  <div class="mb-2 border-b-2" *ngFor="let blog of blogs; let i = index">
    {{i + 1}}. {{blog.naslov}} <br>
    {{blog.datum_vnosa | date}} <br>
    <button [routerLink]="['/blog-admin/', blog._id]" class="me-1.5 bg-amber-400 p-2">Read blog</button>
    <button [routerLink]="['/blog-admin/edit', blog._id]" class="me-1.5 bg-blue-500 p-2">Edit blog</button>
    <button *ngIf="blog._id" (click)="deleteById(blog._id)" class="bg-red-500 p-2">Delete blog - Not working</button>
  </div>
</ng-container>

<app-go-back/>
