<p>user-edit-by-id-admin works!</p>
Full name: <input type="text" style="border: 1px solid black" [(ngModel)]="changeFullName"><br>
Username: <input type="text" style="border: 1px solid black" [(ngModel)]="changeUsername"><br>
Email: <input type="text" style="border: 1px solid black" [(ngModel)]="changeEmail"><br>
Profession: <input type="text" style="border: 1px solid black" [(ngModel)]="changeProfession"><br>
Technology: <input type="text" style="border: 1px solid black" [(ngModel)]="changeTechnology"><br>
Description: <input type="text" style="border: 1px solid black" [(ngModel)]="changeDescription"><br>
Password: <input type="text" style="border: 1px solid black" [(ngModel)]="hashedPassword"><br>
Description: <input type="text" style="border: 1px solid black" [(ngModel)]="changeDescription"><br>
Confirmed: <input type="checkbox" style="border: 1px solid black" [(ngModel)]="changeConfirmed"><br>
Registered: <input type="checkbox" style="border: 1px solid black" [(ngModel)]="changeRegistered"><br>
Blog notification: <input type="checkbox" style="border: 1px solid black" [(ngModel)]="changeBlogNotification"><br>

<button class="me-1.5 bg-blue-500 p-2" (click)="editUser()">Edit</button>
<app-go-back/>
