<ng-container *ngIf="routerLink">
  <button class="btn-admin add" [ngStyle]="{ width: width ? '300px' : 'auto' }" [routerLink]="routerLink">
    {{ BUTTONS.add | translate }}
  </button>
</ng-container>

<ng-container *ngIf="routerLinkId">
  <button class="btn-admin edit" [routerLink]="routerLinkId">
    {{ BUTTONS.edit | translate }}
  </button>
</ng-container>

<ng-container *ngIf="dialogRead && !routerLink">
  <button class="btn-admin read" (click)="openDialog()">
    {{ BUTTONS.read | translate }}
  </button>
  <button class="btn-admin delete" (click)="deleteData()">
    {{ BUTTONS.delete | translate }}
  </button>
</ng-container>
