<!-- Title of the page displaying GitHub repositories - START -->
<h1>GitHub Repositories</h1>
<!-- Title of the page displaying GitHub repositories - END -->

<!-- Container to handle the asynchronous data fetching - START -->
<ng-container *ngIf="filteredGitHub$ | async as githubData; else loadingData">
  <!-- Display the number of existing repositories if any are found - START -->
  <ul>
    <li *ngIf="githubData.length > 0">
      Existing repos: {{ githubData.length }}
    </li>
  </ul>
  <!-- Display the number of existing repositories if any are found - END -->

  <!-- Dropdown to select the language for filtering repositories - START -->
  <mat-form-field>
    <mat-label>Choose an option</mat-label>
    <mat-select [(ngModel)]="selectedLanguage" (ngModelChange)="setSelectedLanguage($event)">
      <mat-option *ngFor="let language of SELECT_LANGUAGE" [value]="language">{{language}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Dropdown to select the language for filtering repositories - END -->

  <!-- List of GitHub repositories - START -->
  <ul>
    <li class="pb-2" *ngFor="let repo of githubData.repos">
      <!-- Repository name displayed in uppercase and larger font size - START -->
      <p class="text-2xl uppercase">{{ repo.name }}</p>
      <!-- Repository name displayed in uppercase and larger font size - END -->

      <!-- Link to the GitHub repository - START -->
      <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a>
      <!-- Link to the GitHub repository - END -->

      <!-- Repository description - START -->
      <p>{{ repo.description }}</p>
      <!-- Repository description - END -->

      <!-- Repository language information - START -->
      <p><strong>Language:</strong> {{ repo.language }}</p>
      <!-- Repository language information - END -->

      <!-- Repository owner information with link to the owner's GitHub profile - START -->
      <p><strong>Owner:</strong> <a [href]="repo.owner.html_url" target="_blank">{{ repo.owner.login }}</a></p>
      <!-- Repository owner information with link to the owner's GitHub profile - END -->
    </li>
  </ul>
  <!-- List of GitHub repositories - END -->

  <!-- Error message display if the data fetching fails - START -->
  <ng-container *ngIf="!filteredGitHub$ || error">
    {{ error }}
  </ng-container>
  <!-- Error message display if the data fetching fails - END -->

</ng-container>
<!-- Container to handle the asynchronous data fetching - END -->

<!-- Template to show loading spinner and text while data is being fetched - START -->
<ng-template #loadingData>
  <app-loading/>
</ng-template>
<!-- Template to show loading spinner and text while data is being fetched - END -->
