<h1>GitHub Repositories</h1>

<ul>
  <li *ngIf="privateLength">
    Existing repos: {{ privateLength }}
  </li>
</ul>

<ul>
  <li class="pb-2" *ngFor="let repo of github$ | async">
    <p class="text-2xl uppercase">{{ repo.name }}</p>
    <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a>
    <p>{{ repo.description }}</p>
    <p><strong>Language:</strong> {{ repo.language }}</p>
    <p><strong>Owner:</strong> <a [href]="repo.owner.html_url" target="_blank">{{ repo.owner.login }}</a></p>
  </li>
</ul>
