<p>all-technology-technology works!</p>

<app-button-admin [routerLink]="'/add-technology-admin'"/>

<ng-container *ngIf="technology$ | async as technologies">

  <div *ngFor="let technology of technologies">

    <app-show-data
      [_id]="technology._id"
      [technology]="technology.technology"
      [title]="technology.title"
      [subtitle]="technology.subtitle"
      [vsebina]="technology.subtitle"
      [datum_vnosa]="technology.datum_vnosa"
    />

    <button class="me-1.5 bg-amber-400 p-2" (click)="openDialog(technology._id)">{{ BUTTONS.read |translate}}</button>
  </div>

</ng-container>

<app-go-back/>
