<p>all-technology works!</p>

<app-button-admin [routerLink]="'/add-technology-admin'"/>

<ng-container *ngIf="technology$ | async as technologies">

  <div *ngFor="let technology of technologies">

    <app-show-data
      [_id]="technology._id"
      [technology]="technology.technology"
      [title]="technology.title"
      [subtitle]="technology.subtitle"
      [vsebina]="technology.subtitle"
      [datum_vnosa]="technology.datum_vnosa"
    />

    <app-button-admin
      (dialogRead)="openDialog(technology._id)"
      [routerLinkId]="['/edit-technology-admin', technology._id ?? '']"
      (delete)="deleteTechnology(technology._id)"
    />
  </div>

</ng-container>

<app-go-back/>
