<div class="pt-8 px-4 mx-auto max-w-screen-xl lg:pt-16">
  <div class="grid gap-8 lg:grid-cols-2 grid-cols-1">
    <!-- Programming Languages -->
    <app-used-languages
      [title]="'Programming Languages Popularity'"
      [description]="'Most popular programming languages in 2024'"
      [endpoint]="'programming-languages'">
    </app-used-languages>

    <!-- Frontend Frameworks -->
    <app-used-languages
      [title]="'Frontend Frameworks Popularity'"
      [description]="'Most popular frontend frameworks'"
      [endpoint]="'frameworks-frontend'">
    </app-used-languages>

    <!-- Backend Frameworks -->
    <app-used-languages
      [title]="'Backend Frameworks Popularity'"
      [description]="'Most popular backend frameworks'"
      [endpoint]="'frameworks-backend'">
    </app-used-languages>

    <!-- Mobile Development -->
    <app-used-languages
      [title]="'Mobile Development Technologies'"
      [description]="'Most popular mobile development technologies'"
      [endpoint]="'mobile-development'">
    </app-used-languages>

    <!-- Database and Data Management -->
    <app-used-languages
      [title]="'Databases and Data Management'"
      [description]="'Most popular database and data management technologies'"
      [endpoint]="'database-management'">
    </app-used-languages>

    <!-- Cloud and DevOps -->
    <app-used-languages
      [title]="'Cloud and DevOps Tools Popularity'"
      [description]="'Most popular cloud and DevOps tools and technologies'"
      [endpoint]="'devops'">
    </app-used-languages>

    <!-- UI/UX and Design -->
    <app-used-languages
      [title]="'UI/UX and Design Technologies Popularity'"
      [description]="'Most popular UI/UX design technologies'"
      [endpoint]="'ui-ux-design'">
    </app-used-languages>

    <!-- Testing and Automation -->
    <app-used-languages
      [title]="'Testing and Automation Tools Popularity'"
      [description]="'Most popular testing and automation tools'"
      [endpoint]="'testing'">
    </app-used-languages>

    <!-- Version Control and Collaboration -->
    <app-used-languages
      [title]="'Version Control and Collaboration Tools Popularity'"
      [description]="'Most popular version control and collaboration tools'"
      [endpoint]="'version-control'">
    </app-used-languages>

    <!-- Operating Systems and Platforms -->
    <app-used-languages
      [title]="'Operating Systems and Platforms Popularity'"
      [description]="'Most popular operating systems and platforms'"
      [endpoint]="'operating-system'">
    </app-used-languages>

    <!-- Tools and IDEs -->
    <app-used-languages
      [title]="'Development Tools and IDEs Popularity'"
      [description]="'Most popular development tools and IDEs'"
      [endpoint]="'ides'">
    </app-used-languages>


</div>
</div>
