<!-- Dropdown to select the language for filtering - START -->
<div class="relative inline-block w-80">
  <label for="dropdown-select" class="block text-sm font-medium">{{ label | translate }}</label>
  <select id="dropdown-select" [(ngModel)]="selectedValue" (change)="onSelectChange($event)"
          class="border border-gray-300 text-sm text-black rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option class="text-black" *ngFor="let option of options" [value]="option">{{ option | translate }}</option>
  </select>
</div>
<!-- Dropdown to select the language for filtering - END -->
