<!-- Dropdown to select the language for filtering - START -->
<div class="relative inline-block w-64">
  <label for="dropdown-select" class="block text-sm font-medium text-gray-700">{{ label | translate }}</label>
  <select id="dropdown-select" [(ngModel)]="selectedValue" (change)="onSelectChange($event)"
          class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
    <option *ngFor="let option of options" [value]="option">{{ option | translate }}</option>
  </select>
</div>
<!-- Dropdown to select the language for filtering - END -->
