<!-- Dropdown to select the language for filtering - START -->
<div class="relative inline-block w-80">
  <label for="dropdown-select" class="block text-sm font-medium text-gray-700">{{ label | translate }}</label>
  <select id="dropdown-select" [(ngModel)]="selectedValue" (change)="onSelectChange($event)"
          class="bg-background-menu border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option *ngFor="let option of options" [value]="option">{{ option | translate }}</option>
  </select>
</div>
<!-- Dropdown to select the language for filtering - END -->
