<p>sys-info works!</p>

<div *ngIf="formattedSysInfo$ | async as sysInfo">

  <!-- WINDOWS -->
  <ng-container *ngIf="sysInfo['OS Name'].includes('Windows')">
    <ng-container *ngIf="data">


      <h2>System Information</h2>
      <p>
        <strong>Host Name (Ime gostitelja): {{data['Host Name (Ime gostitelja)']}}</strong>
        {{ sysInfo['Host Name'] }}
        <br> - To je ime računalnika ali omrežnega gostitelja.
      </p>
      <p>
        <strong>OS Name (Ime operacijskega sistema):</strong>
        {{ sysInfo['OS Name'] }}
        <br> - To je ime operacijskega sistema, v tem primeru Microsoft Windows 10 Pro.
      </p>
      <p>
        <strong>OS Version (Različica operacijskega sistema):</strong>
        {{ sysInfo['OS Version'] }}
        <br> - To je različica operacijskega sistema, v tem primeru 10.0.19045 N/A Build 19045.
      </p>
      <p>
        <strong>OS Manufacturer (Proizvajalec operacijskega sistema):</strong>
        {{ sysInfo['OS Manufacturer'] }}
        <br> - To je proizvajalec operacijskega sistema, v tem primeru Microsoft Corporation.
      </p>
      <p>
        <strong>Registered Owner (Registrirani lastnik):</strong>
        {{ sysInfo['Registered Owner'] }}
        <br> - To je ime lastnika, ki je registriran za operacijski sistem.
      </p>
      <p>
        <strong>Product ID (ID izdelka):</strong>
        {{ sysInfo['Product ID'] }}
        <br> - To je identifikacijska številka izdelka za operacijski sistem.
      </p>
      <p>
        <strong>Original Install Date (Datum prvotne namestitve):</strong>
        {{ sysInfo['Original Install Date'] }}
        <br> - To je datum in čas prvotne namestitve operacijskega sistema.
      </p>
      <p>
        <strong>System Boot Time (Čas zagona sistema):</strong>
        {{ sysInfo['System Boot Time'] }}
        <br> - To je datum in čas zadnjega zagona sistema.
      </p>
      <p>
        <strong>System Manufacturer (Proizvajalec sistema):</strong>
        {{ sysInfo['System Manufacturer'] }}
        <br> - To je proizvajalec računalnika ali strojne opreme.
      </p>
      <p>
        <strong>System Model (Model sistema):</strong>
        {{ sysInfo['System Model'] }}
        <br> - To je model računalnika ali strojne opreme.
      </p>
      <p>
        <strong>System Type (Vrsta sistema):</strong>
        {{ sysInfo['System Type'] }}
        <br> - To je arhitektura sistema, v tem primeru x64-based PC.
      </p>
      <p>
        <strong>Processor(s) (Procesorji):</strong>
        {{ sysInfo['Processor(s)'] }}
        <br> - To je število procesorjev, nameščenih v računalniku.
      </p>
      <p>
        <strong>BIOS Version (Različica BIOS-a):</strong>
        {{ sysInfo['BIOS Version'] }}
        <br> - To je različica BIOS-a, ki nadzoruje osnovne funkcije računalnika.
      </p>
      <p>
        <strong>Windows Directory (Windows imenik):</strong>
        {{ sysInfo['Windows Directory'] }}
        <br> - To je pot do imenika Windows sistema.
      </p>
      <p>
        <strong>System Directory (Imenik sistema):</strong>
        {{ sysInfo['System Directory'] }}
        <br> - To je pot do sistema imenika sistema Windows.
      </p>
      <p>
        <strong>System Locale (Lokalni sistem):</strong>
        {{ sysInfo['System Locale'] }}
        <br> - To je lokalizacija sistema, v tem primeru slovenščina.
      </p>
      <p>
        <strong>Input Locale (Vhodna lokalizacija):</strong>
        {{ sysInfo['Input Locale'] }}
        <br> - To je vhodna lokalizacija, ki določa, katere pisave in jezike lahko uporabnik vnese.
      </p>
      <p>
        <strong>Time Zone (Časovni pas):</strong>
        {{ sysInfo['Time Zone'] }}
        <br> - To je časovni pas, v katerem se nahaja računalnik.
      </p>
      <p>
        <strong>Total Physical Memory (Skupni pomnilnik):</strong>
        {{ sysInfo['Total Physical Memory'] }}
        <br> - To je skupna količina fizičnega pomnilnika na računalniku.
      </p>
      <p>
        <strong>Available Physical Memory (Razpoložljivi fizični pomnilnik):</strong>
        {{ sysInfo['Available Physical Memory'] }}
        <br> - To je količina razpoložljivega fizičnega pomnilnika na računalniku, ki ga lahko trenutno uporablja.
      </p>
      <p>
        <strong>Virtual Memory (Virtualni pomnilnik):</strong>
        {{ sysInfo['Virtual Memory'] }}
        <br> - Virtualni pomnilnik je mehanizem, ki računalniku omogoča, da ustvari in uporablja dodatni pomnilnik,
        imenovan virtualni pomnilnik, ki je shranjen na trdem disku. To pomaga pri obvladovanju pomnilniškega prostora
        in
        zagotavljanju, da aplikacije, ki potrebujejo več pomnilnika, lahko še vedno delujejo, tudi če je fizični
        pomnilnik
        omejen.
      </p>
      <p>
        <strong>Domain (Domena):</strong>
        {{ sysInfo['Domain'] }}
        <br> - To je domena, v kateri je računalnik ali omrežje.
      </p>
      <p>
        <strong>DHCP Server (DHCP strežnik):</strong>
        {{ sysInfo['DHCP Server'] }}
        <br> - To je naslov DHCP strežnika, ki dodeljuje IP naslove računalnikom v omrežju.
      </p>
    </ng-container>
  </ng-container>

  <!-- LINUX -->
  <ng-container *ngIf="sysInfo['OS Name'].includes('Linux')">
    <p>
      <strong>Host Name (Ime gostitelja):</strong>
      {{ sysInfo['Host Name'] }}
      <br> - To je ime računalnika ali omrežnega gostitelja.</p>
    <p>
      <strong>OS Name (Ime operacijskega sistema):</strong>
      {{ sysInfo['OS Name'] }}
      <br> - To je ime operacijskega sistema, v tem primeru Linux.</p>
    <p>
      <strong>OS Version (Različica operacijskega sistema):</strong>
      {{ sysInfo['OS Version'] }}
      <br> - To je različica operacijskega sistema, ki je trenutno nameščena na računalniku.</p>
    <p>
      <strong>OS Manufacturer (Proizvajalec operacijskega sistema):</strong>
      <br> - N/A - Linux je odprtokodni operacijski sistem, ki ga razvijajo in vzdržujejo različne skupnosti in
      organizacije, zato nima enega samega proizvajalca.</p>
    <p>
      <strong>Registered Owner (Registrirani lastnik):</strong>
      <br> - N/A - Ker je Linux odprtokodni operacijski sistem, ponavadi nima registriranega lastnika v smislu, kot ga
      ima
      Microsoft Windows.</p>
    <p>
      <strong>Product ID (ID izdelka):</strong>
      <br> - N/A - Linux je brezplačen in odprtokoden operacijski sistem, zato nima
      enotne identifikacijske številke izdelka, kot jo ima Microsoft Windows.</p>
    <p>
      <strong>Original Install Date (Datum prvotne namestitve):</strong>
      <br> - N/A - Linux je pogosto nameščen na več načinov
      (npr. preko distribucijskih paketov, preko ISO slik, preko spletnih strežnikov itd.), zato ni vedno jasno določiti
      prvotnega datuma namestitve.</p>
    <p>
      <strong>System Boot Time (Čas zagona sistema):</strong>
      {{ sysInfo['System Boot Time'] }}
      <br> - To je datum in čas zadnjega zagona sistema.</p>
    <p>
      <strong>System Manufacturer (Proizvajalec sistema):</strong>
      {{ sysInfo['System Manufacturer'] }}
      <br> - To je
      proizvajalec računalnika ali strojne opreme.</p>
    <p>
      <strong>System Model (Model sistema):</strong>
      {{ sysInfo['System Model'] }}
      <br> - To je model računalnika ali
      strojne opreme.</p>
    <p>
      <strong>System Type (Vrsta sistema):</strong> N/A - Linux deluje na različnih arhitekturah, vključno z x86,
      x86-64, ARM, itd., zato ni enotne vrste sistema, ki bi jo bilo mogoče prikazati na enak način kot pri operacijskem
      sistemu Windows.</p>
    <p>
      <strong>Processor(s) (Procesorji):</strong>
      {{ sysInfo['Processor(s)'] }}
      <br> - To je število procesorjev, nameščenih
      v računalniku.</p>
    <p>
      <strong>BIOS Version (Različica BIOS-a):</strong> N/A - V nasprotju z večino računalnikov z operacijskim sistemom
      Windows, kjer je BIOS običajen, je na večini sistemov Linux nameščen UEFI (Unified Extensible Firmware Interface)
      namesto tradicionalnega BIOS-a.</p>
    <p>
      <strong>System Locale (Lokalni sistem):</strong>
      {{ sysInfo['System Locale'] }}
      <br> - To je lokalizacija sistema, ki določa, v katerem jeziku so prikazana sporočila in obvestila na računalniku.
    </p>
    <p>
      <strong>Input Locale (Vhodna lokalizacija):</strong>
      {{ sysInfo['Input Locale'] }}
      <br> - To je vhodna lokalizacija, ki določa, katere pisave in jezike lahko uporabnik vnese.</p>
    <p>
      <strong>Time Zone (Časovni pas):</strong>
      {{ sysInfo['Time Zone'] }}
      <br> - To je časovni pas, v katerem se nahaja računalnik.</p>
    <p>
      <strong>Total Physical Memory (Skupni pomnilnik):</strong>
      {{ sysInfo['Total Physical Memory'] }}
      <br> - To je skupna količina fizičnega pomnilnika na računalniku.</p>
    <p>
      <strong>Available Physical Memory (Razpoložljivi fizični pomnilnik):</strong>
      {{ sysInfo['Available Physical Memory'] }}
      <br> - To je količina razpoložljivega fizičnega pomnilnika na računalniku, ki ga lahko trenutno uporablja.</p>
    <p>
      <strong>Virtual Memory (Virtualni pomnilnik):</strong>
      {{ sysInfo['Virtual Memory'] }}
      <br> - Virtualni pomnilnik je mehanizem, ki računalniku omogoča, da ustvari in uporablja dodatni pomnilnik,
      imenovan virtualni pomnilnik, ki je shranjen na trdem disku. To pomaga pri obvladovanju pomnilniškega prostora in
      zagotavljanju, da aplikacije, ki potrebujejo več pomnilnika, lahko še vedno delujejo, tudi če je fizični pomnilnik
      omejen.</p>
    <p>
      <strong>Domain (Domena):</strong>
      {{ sysInfo['Domain'] }}
      <br> - To je domena, v kateri je računalnik ali omrežje.</p>
    <p>
      <strong>DHCP Server (DHCP strežnik):</strong>
      {{ sysInfo['DHCP Server'] }}
      <br> - To je naslov DHCP strežnika, ki dodeljuje IP naslove računalnikom v omrežju.</p>

  </ng-container>

</div>
