.divider {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23131313"><path d="M0 0v100S0 4 500 4s500 96 500 96V0H0Z"></path></svg>');
  background-position: top;
  background-color: #1a1a1c;
  background-repeat: no-repeat;
}

.divider-second {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%231A1A1C"><path d="M0 0v100S0 4 500 4s500 96 500 96V0H0Z"></path></svg>');
  background-position: top;
  background-repeat: no-repeat;
}
