// IMPORT VARIABLES AND MIXIN
@import "./abstract/variables";
@import "./abstract/mixin";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $main-text-color;
  background-color: $color-first;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input, option, select, textarea {
  color: black;
}


