// IMPORT VARIABLES AND MIXIN
@import "./abstract/variables";
@import "./abstract/mixin";

html, body {

}


body {
  margin: 0;
  padding: 0;
  color: $main-text-color;
  background-color: $color-zero-hex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input, option, select, textarea {
  color: white;
}

/* Main width of the container */
.container-width {
  max-width: 1216px;
}

/* Reset style input on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 600000s 0s;
}

.bg-stain {
  background: url("/assets/media/aboutme/stain.png") no-repeat center;
  background-size: contain;
}
