// IMPORT VARIABLES AND MIXIN
@import "./abstract/variables";
@import "./abstract/mixin";

html, body {

}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #f3f4f6, #e2e8f0, #ffffff) no-repeat fixed;
  background-size: 200% 200%;
  animation: smoothRotateGradient 10s infinite linear;
  color: $black-text-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input, option, select, textarea {
  color: white;
}

/* Main width of the container */
.container-width {
  max-width: 1216px;
}

/* Reset style input on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 600000s 0s;
}

.bg-stain {
  background: url("/assets/media/aboutme/stain.png") no-repeat center;
  background-size: contain;
}


@keyframes smoothRotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
