<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

  <div class="flex flex-col mx-auto md:w-1/2 w-full p-2">
    <!-- Title and description of the blog section - START -->
    <app-hero-title title="pages.login.title" subtitle="pages.login.description"/>
    <!-- Title and description of the blog section - END -->

    <label class="block mb-2 mt-4 text-sm font-medium dark:text-white">
      {{ 'labels.username' | translate }}*:
    </label>
    <input #firstInput
           class="input-global text-sm rounded-lg block w-full p-2.5 placeholder-gray-400 focus:ring-gray-400 focus:border-white"
           [(ngModel)]="getUsername"
           (keypress)="checkEnter($event, 'firstInput')"><br>
    <label class="block mb-2 text-sm font-medium dark:text-white">
      {{ 'labels.password' | translate }}*:
    </label>
    <input #secondInput
           class="input-global text-sm rounded-lg block w-full p-2.5 placeholder-gray-400 focus:ring-gray-400 focus:border-white"
           [(ngModel)]="getPassword"
           (keypress)="checkEnter($event, 'secondInput')">
    <br>

    <button class="btn-admin add rounded-lg" (click)="login()">
      Login
    </button>

    <div *ngIf="error" class="text-red-500 mt-2 text-center">
      {{ error | translate }}
    </div>
  </div>
</div>
