<!-- Message indicating the projects admin page works -->
<p>projects-admin works!</p>

<!-- Button to navigate to the add project admin page -->
<button style="background-color: brown; color: white; padding: 10px"
        routerLink="/add-project-admin">{{ BUTTONS.add }}</button>

<!-- Container for displaying projects -->
<ng-container *ngIf="projects$ | async as projects">

  <!-- Loop through each project and display its details -->
  <div *ngFor="let project of projects">

    <!-- Reusable component to display project details -->
    <app-show-data
      [title]="project.title"
      [subtitle]="project.subtitle"
      [category]="project.category"
      [content]="project.content"
      [github]="project.github"
      [website]="project.website"
      [datum_vnosa]="project.datum_vnosa"
    />

    <!-- Button to open the dialog for reading the project details -->
    <button class="me-1.5 bg-amber-400 p-2" (click)="openDialog(project._id)">{{ BUTTONS.read }}</button>

    <button [routerLink]="['/projects-admin/edit', project._id]"
            class="me-1.5 bg-blue-500 p-2">{{ BUTTONS.edit }}</button>

    <!-- Button to delete the project, shown only if the project has an ID -->
    <button class="me-1.5 bg-red-500 p-2" (click)="deleteProject(project._id)">{{ BUTTONS.delete }}</button>

  </div>

</ng-container>

<!-- Component to navigate back to the previous page -->
<app-go-back></app-go-back>
