<button style="position: fixed; bottom: 0; right: 0; margin: 10px" class="btn-admin back"
        (click)="goBack()">
  {{ 'button.back' | translate }}
</button>

<button *ngIf="booksAdmin" style="position: fixed; bottom: 50px; right: 0; margin: 10px" class="btn-admin back"
        routerLink="/media-books">
  {{ 'button.books-admin' | translate }}
</button>

<button *ngIf="blogsAdmin" style="position: fixed; bottom: 50px; right: 0; margin: 10px" class="btn-admin back"
        routerLink="/media-blogs">
  {{ 'button.blogs-admin' | translate }}
</button>
