<p>users-admin works!</p>
<ng-container *ngIf="users$ | async as users">
  <div style="padding-bottom: 20px" *ngFor="let user of users; let i = index">

    {{i + 1}}. {{user.full_name}}<br>
    {{user.username}}<br>
    {{user.email}}<br>
    <span *ngIf="!user.description" class="text-red-400">{{user.technology || 'Ni opisa'}}</span><br>
    <span *ngIf="!user.description" class="text-red-400">{{user.description || 'Ni opisa'}}</span><br>

    {{user.blog_notification}}<br>
    {{user.disabled}}<br>
    {{user.confirmed}}<br>

  </div>
</ng-container>

<app-go-back></app-go-back>
