<p>users-admin works!</p>

<app-button-admin [routerLink]="'/add-user-admin'"/>

<ng-container *ngIf="users$ | async as users">
  <div style="padding-bottom: 20px" *ngFor="let user of users; let i = index">

    <app-show-data
      [_id]="user._id"
      [full_name]="user.full_name"
      [username]="user.username"
      [email]="user.email"
      [technology]="user.technology"
      [description]="user.description"
      [blog_notification]="user.blog_notification"
      [confirmed]="user.confirmed"
      [registered]="user.registered"
    />

    <app-button-admin
      (dialogRead)="openDialog(user._id)"
      [routerLinkId]="['/edit-user-admin', user._id ?? '']"
      (delete)="deleteUser(user._id)"
    />

  </div>
</ng-container>

<app-go-back></app-go-back>
