<p>users-admin works!</p>
<ng-container *ngIf="users$ | async as users">
  <div style="padding-bottom: 20px" *ngFor="let user of users; let i = index" [routerLink]="">

    <app-show-data-test
      [_id]="user._id"
      [full_name]="user.full_name"
      [username]="user.username"
      [email]="user.email"
      [technology]="user.technology"
      [description]="user.description"
      [blog_notification]="user.blog_notification"
      [confirmed]="user.confirmed"
      [registered]="user.registered"
    />

    <button (click)="openDialog(user._id)" class="me-1.5 bg-blue-500 p-1">
      Get user
    </button>
    <button class="me-1.5 bg-yellow-500 p-1" [routerLink]="['/user-admin/edit', user._id]">
      Edit user
    </button>

  </div>
</ng-container>

<app-go-back></app-go-back>
