<app-header/>
<router-outlet/>
<app-footer/>
<app-chat />

<ng-container *ngIf="userRole">
  <!-- Button to open chatroom -->
  <button class="fixed bottom-0 left-0 right-0 mx-auto sm:w-[300px] w-full flex items-center justify-center p-2 bg-chat rounded-t"
          *ngIf="!isDrawerOpen" (click)="toggleDrawer()">
    <!-- SVG Icon to the left of the text -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"/>
      <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"/>
    </svg>
    <!-- Button Text -->
    <span>{{ 'button.chatroom-open' | translate }}</span>
  </button>

  <!-- Backdrop overlay for drawer -->
  <div class="fixed inset-0 bg-black bg-opacity-50 z-30" *ngIf="isDrawerOpen" (click)="toggleDrawer()"></div>

  <!-- Drawer component -->
  <div id="drawer-swipe"
       [ngClass]="{ 'translate-y-full': !isDrawerOpen, 'translate-y-0': isDrawerOpen }"
       class="fixed z-40 md:w-1/2 w-full mx-auto overflow-y-auto bg-background-menu border rounded-t-xl border-opacity-10 border-gray-200 transition-transform left-0 right-0 bottom-0 h-[calc(100vh-60px)]"
       tabindex="-1" aria-labelledby="drawer-swipe-label">

    <!-- Drawer toggle button (visible at all times) -->
    <div class="relative ">
      <div class="pt-4 pb-2 cursor-pointer bg-chat absolute top-0 left-0 text-center right-0  z-50"
           (click)="toggleDrawer()" data-drawer-toggle="drawer-swipe">
        <!-- Centered toggle bar -->
        <span class="absolute w-8 h-1 -translate-x-1/2 top-0 left-1/2 bg-white"></span>
        <h5 id="drawer-swipe-label" class="inline-flex items-center text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="w-4 h-4 me-2">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"/>
            <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"/>
          </svg>
          {{ 'button.chatroom-close' | translate }}
        </h5>
      </div>
    </div>

    <!-- Drawer content below the toggle button -->
    <div class="flex flex-col mx-auto p-4 mt-12" *ngIf="!connected">
      <h1 class="text-lg font-semibold text-center text-white mb-4">Vnesi svoje ime:</h1>
      <input [(ngModel)]="username" (keyup.enter)="connect()"
             class="bg-background-menu border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <button (click)="connect()" class="btn-public read mt-4 rounded-md">
        Join Chat
      </button>
    </div>

    <div class="p-4 mt-12" *ngIf="connected">
      <!-- Chat Room UI -->
      <div class="w-full">
        <div class="pb-11">
          <!-- Received Messages -->
          <div class="container gap-2.5 mb-4" *ngFor="let msg of messages">

            <!-- If the message is sent by the current user -->
            <div *ngIf="msg.username === username; else otherMessage">

              <div class="flex items-start gap-2.5">
                <img class="w-8 h-8 rounded-full" src="https://pagedone.io/asset/uploads/1710412177.png" alt="Jese image">
                <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
                  <div class="flex items-center rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ msg.username }}</span>
                    <span class="text-sm font-normal ms-auto text-gray-500">{{ time | date:'HH:MM:ss' }}</span>
                  </div>
                  <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">{{ msg.message }}</p>
                </div>

              </div>

            </div>

            <!-- If the message is sent by someone else -->
            <ng-template #otherMessage>
              <div class="flex items-end gap-2.5 flex-row-reverse">
                <img class="w-8 h-8 rounded-full" src="https://pagedone.io/asset/uploads/1710412177.png" alt="Jese image">
                <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-s-xl rounded-ss-xl dark:bg-gray-700">
                  <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ msg.username }}</span>
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ time | date:'HH:MM:ss' }}</span>
                  </div>
                  <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">{{ msg.message }}</p>
                </div>
              </div>

            </ng-template>
          </div>
        </div>

        <!-- User's Sent Messages right -->
        <div class="flex gap-2.5 justify-end pb-40">

        </div>

        <!-- Input field for sending a message -->
        <div class="w-full pl-3 pr-1 py-1 rounded-3xl border border-gray-200 items-center gap-2 inline-flex justify-between">
          <div class="flex items-center gap-2 w-full">
            <input autofocus [(ngModel)]="message"

                   class="grow bg-background-menu basis-0 text-white w-full text-xs font-medium leading-4 focus:outline-none"
            />
          </div>
          <div class="flex items-center gap-2">
            <button class="items-center flex px-3 py-2 bg-indigo-600 rounded-full shadow " (click)="send()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path id="icon" d="M9.04071 6.959L6.54227 9.45744M6.89902 10.0724L7.03391 10.3054C8.31034 12.5102 8.94855 13.6125 9.80584 13.5252C10.6631 13.4379 11.0659 12.2295 11.8715 9.81261L13.0272 6.34566C13.7631 4.13794 14.1311 3.03408 13.5484 2.45139C12.9657 1.8687 11.8618 2.23666 9.65409 2.97257L6.18714 4.12822C3.77029 4.93383 2.56187 5.33664 2.47454 6.19392C2.38721 7.0512 3.48957 7.68941 5.69431 8.96584L5.92731 9.10074C6.23326 9.27786 6.38623 9.36643 6.50978 9.48998C6.63333 9.61352 6.72189 9.7665 6.89902 10.0724Z" stroke="white" stroke-width="1.6" stroke-linecap="round" />
              </svg>
              <h3 class="text-white text-xs font-semibold leading-4 px-2">Send</h3>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>
