<!-- START: Conditional Rendering based on data.allData existence -->
<div class="h-[calc(100%-1rem)]">

  <ng-container *ngIf="data.allData; else noData">

    <!-- Display the title fetched from data -->
    <h2 class="text-center bg-white text-black py-2 text-md uppercase font-bold">{{ data.title }}</h2>

    <!-- START: Container for displaying data -->
    <div class="p-2 bg-background-menu h-full">

      <!-- START: Check if data.allData is a string -->
      <ng-container *ngIf="!isObject(data.allData)">
        <!-- Display the single data item -->
        <p>{{ data.allData }}</p>
      </ng-container>
      <!-- END: Check if data.allData is a string -->

      <!-- START: Check if data.allData is an object -->
      <ng-container *ngIf="isObject(data.allData)">

        <!-- START: Unordered list to display key-value pairs from data.allData -->
        <ul class="text-sm font-medium flex-wrap">
          <!-- Loop through each key in data.allData using *ngFor -->
          <li class="w-full py-2 border-b border-gray-500 break-words" *ngFor="let key of getObjectKeys(data.allData)">

            <!-- Display key-value pairs only if the value is a non-empty string or a boolean and if data not available show no data available -->
            <ng-container *ngIf="isStringAndNotEmpty(data.allData[key]) || isBoolean(data.allData[key]); else noData">
              <strong>{{ 'labels.' + key | translate }}:</strong>
              <!-- Check if the key is 'datum_vnosa' to apply the date pipe -->
              <ng-container *ngIf="key === 'datum_vnosa'; else normalValue">
                {{ data.allData[key] | date:'MMM dd, yyyy - HH:mm' }}
              </ng-container>
              <ng-template #normalValue>
                <span [innerHtml]="data.allData[key]"></span>
              </ng-template>
            </ng-container>

            <!-- Template to show data not available -->
            <ng-template #noData>
              <strong>{{ key }}: </strong> <span class="text-red-600">Data not available</span>
            </ng-template>
          </li>

        </ul>
        <!-- END: Unordered list to display key-value pairs from data.allData -->

      </ng-container>
      <!-- END: Check if data.allData is an object -->

    </div>
    <!-- END: Container for displaying data -->

  </ng-container>
  <!-- END: Conditional Rendering based on data.allData existence -->
</div>
<!-- ng-template defines a template for displaying when data.allData is falsy -->
<ng-template #noData>
  <!-- Display a message when no data is available -->
  <p>{{ 'errors.noData' | translate }}</p>
</ng-template>
