<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

    <!-- Title and description of the blog section - START -->
    <app-hero-title title="pages.technologies.title" subtitle="pages.technologies.description" />
    <!-- Title and description of the blog section - END -->

    <!-- Grid container for displaying blog articles - START -->
    <div class="grid gap-8 lg:grid-cols-3">

      <!-- Looping through the blogs array and displaying its properties - START -->
      <article *ngFor="let data of TECHNOLOGIES_PUBLIC_MENU" [routerLink]="'/technologies' + data.path"
               class="p-6 flicker-in hover:border-box-border transition-colors duration-700 cursor-pointer bg-background-menu rounded-lg border shadow-md border-gray-700">

        <!-- Blog image section - START -->
        <img [src]="data.img"
             class="w-full h-80 object-cover object-center rounded-lg mb-4"
             [alt]="data.menu"/>
        <!-- Blog image section - END -->

        <!-- Blog title and content section - START -->
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-white"><a
          [routerLink]="'/technologies' + data.path">{{ data.menu | translate }}</a></h2>
        <p class="font-light text-gray-400" [innerHtml]="data.description | shorteningText | translate">
        </p>
        <!-- Blog title and content section - END -->

      </article>
      <!-- Looping through the blogs array and displaying its properties - END -->

    </div>
    <!-- Grid container for displaying blog articles - END -->

  </div>
</section>
<!-- Section containing the main content of the blog page - END -->
