<a class="pe-3" routerLink="/">Home</a>
<a class="pe-3" routerLink="/biography">Biography</a>
<a class="pe-3" routerLink="/experiences">Experiences</a>
<a class="pe-3" routerLink="/projects">Projects</a>
<a class="pe-3" routerLink="/blog">Blog</a>
<a class="pe-3" routerLink="/github">Github</a>
<a class="pe-3" routerLink="/media">Media</a>
<a class="pe-3" routerLink="/books">Books</a>
<a class="pe-3" routerLink="/links">Links</a>
<a class="pe-3" routerLink="/contact">Contact</a>
<ng-container *ngIf="!isLoggedIn">
  <a class="pe-3" routerLink="/login">Login</a>
</ng-container>
<ng-container *ngIf="isLoggedIn">
  <a (click)="logOut()" class="pe-3" routerLink="/login">LogOut</a>
</ng-container>
