<div class="container mx-auto">
  <div class="py-16">
    <app-hero-title title="Hello" subtitle="My name is Danilo, and I was born in Slovenia in June 1987." />
  </div>

  <p>From a young age until I was 25, I was actively involved in various sports such as martial arts and gymnastics. I
    have always been deeply engaged in the spiritual world, practicing meditation, yoga, Vastu Shastra, Jyotish, and more.
    I enjoyed hiking extensively, exploring many places in Slovenia and around the world, always eager to learn new things
    and meet interesting people. In elementary school, I developed an interest in computers and often helped others solve
    technical problems.</p>

  <p>My professional journey began as an electrician in a coal mine, where I worked for almost 10 years. During that time,
    I developed an interest in web development and created a few websites using HTML, CSS, and some JavaScript. I was
    self-taught, learning by doing, and managed to build some impressive websites back then.</p>

  <p>After some time, I became increasingly interested in the human mind and opened my own office to work as a
    hypnotherapist with an international license. Simultaneously, I studied Vastu Shastra, the traditional Indian system
    of architecture, and Jyotish, the traditional Indian system of astrology, for several years. As a hypnotherapist and a
    Jyotish and Vastu consultant, I helped people overcome fears and phobias, improve their academic performance, and
    enhance their abilities in sports. I conducted public events to share knowledge and was dedicated to helping others
    connect with different aspects of spirituality.</p>

  <p>While running my own company, I continued building websites, initially with plain HTML and CSS and later using
    WordPress. However, using WordPress and plugins like Elementor didn't satisfy my creative desires. I love art and
    enjoy creating things from scratch, investing my energy into my work. During this time, I was also busy building my
    own house and raising my two children, with a third on the way.</p>

  <p>Seeking to reignite my passion for development, I decided to find a mentor, and I was fortunate to connect with Uroš
    Jarc. Under his guidance, I have been learning new things every day and thoroughly enjoy the process. Building both
    backend and frontend solutions is something I am passionate about and wish to continue doing.</p>

  <p>I transitioned into professional web development and began working as a Frontend Developer at USCOM d.o.o. There, I
    was able to apply and expand my skills, working on various projects and gaining valuable experience. Currently, I am
    working at Creatim as a Frontend Developer, where I continue to grow professionally and contribute to exciting
    projects.</p>

  <p>I am enthusiastic about technology and development, and I find great joy in creating and building new things. This
    passion extends beyond my work—I enjoy it in my free time as well. I look forward to continuing this journey,
    learning, and contributing to the field of web development.</p>
</div>

