
.ae-font .ae-picker-options {
  background-color: #ffffff !important;
}

.ae-font .ae-picker-label {
  background-color: #ffffff !important;
}

.angular-editor-toolbar {
  background-color: #ffffff !important;
  border: 0!important;
}

.angular-editor {
  background-color: #ffffff !important;
  max-width: 760px;
  margin: 0 auto;
  border: 1px solid #9CA3AF;
  padding: 4px;
  border-radius: 8px;
}

.angular-editor-textarea {
  border: none!important;
}
