.angular-editor-toolbar,
.angular-editor-toolbar-set,
.angular-editor-button {
  background-color: #1b1b1b !important;
}

.ae-font .ae-picker-options {
  background-color: #201A1C !important;
}

.ae-font .ae-picker-label {
  background-color: #201A1C !important;
}

.angular-editor-toolbar {
  background-color: #201A1C !important;
}

.angular-editor {
  background-color: #201A1C !important;
  max-width: 760px;
  margin: 10px auto;
}
