// IMPORT VARIABLES AND MIXIN
@import "../abstract/variables";
@import "../abstract/mixin";


/*
For admin dialogs
*/
.admin-dialog > .mat-mdc-dialog-container .mdc-dialog__surface {
  background: $dialog-bg !important;
}

/*
For email dialog
*/
.email-dialog > .mat-mdc-dialog-container .mdc-dialog__surface {
  background: transparent !important;
  box-shadow: none !important;
}

.mat-dialog-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 16px;
}
