<section>
  <div class="py-8 px-4 mx-auto container lg:py-16 lg:px-12">
    <!-- Grid Container -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      <!-- Left Section -->
      <div class="py-40">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">
          DaniloJezernik.com
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
          {{ 'pages.home.subtitle' | translate }}
        </p>
        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-start sm:space-y-0 sm:space-x-4">
          <a routerLink="/technologies"
             class="inline-flex justify-center btn-public add items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 focus:ring-primary-900">
            {{ 'button.know-more' | translate }}
            <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
          </a>
          <a routerLink="/register"
             class="inline-flex justify-center btn-public register items-center text-center rounded-lg border">
            <svg fill="#ffffff" version="1.1" id="Capa_1"
                 class="mr-2 -ml-1 mb-2 w-5 h-5"
                 viewBox="0 0 461.759 461.759" xml:space="preserve"
                 stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier"> <g> <path
                d="M0,301.058h147.916v147.919H0,
                V301.058z M194.432,448.977H342.35V301.058H194.432V448.977z M2.802,257.347h147.916V109.434 H2.802V257.347z M325.476,92.219l-51.603-79.437l-79.441,51.601l51.604,79.437L325.476,92.219z M219.337,213.733l71.045,62.663 l62.66-71.039l-71.044-62.669L219.337,213.733z M412.107,57.967l-80.668,49.656l49.652,80.666l80.668-49.65L412.107,57.967z"></path> </g> </g></svg>
            {{ 'button.register' | translate }}
          </a>
        </div>
      </div>

      <!-- Right Section -->
      <div class="justify-center">
        <app-svg-home-main></app-svg-home-main>
      </div>
    </div>

    <div class="py-8 px-4 mx-auto container text-center sm:py-16 lg:px-6">
      <app-hero-title title="Technology Stack Behind the Website"
                      subtitle="Discover the technologies and tools that power this website, showcasing a modern stack for dynamic, efficient, and scalable web development."/>

      <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
        <!-- Angular -->
        <div>
          <div class="flex justify-center mb-4">
            <app-brands [wh]="16" [angular]="true"/>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Angular</h3>
          <p class="text-gray-500 dark:text-gray-400">
            A powerful framework for building dynamic and responsive single-page applications with reusable components
            and seamless user experiences.
          </p>
        </div>

        <!-- Tailwind CSS -->
        <div>
          <div class="flex justify-center mb-4">
            <app-brands [wh]="16" [tailwind]="true"/>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Tailwind</h3>
          <p class="text-gray-500 dark:text-gray-400">
            A utility-first CSS framework that provides a flexible and efficient way to design responsive, modern, and
            aesthetic user interfaces.
          </p>
        </div>

        <!-- Cypress -->
        <div>
          <div class="flex justify-center mb-4">
            <app-brands [wh]="16" [cypress]="true"/>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Cypress</h3>
          <p class="text-gray-500 dark:text-gray-400">
            A modern end-to-end testing framework ensuring the reliability and stability of the application through
            robust automated testing.
          </p>
        </div>

        <!-- Python -->
        <div>
          <div class="flex justify-center mb-4">
            <app-brands [wh]="16" [python]="true"/>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Python</h3>
          <p class="text-gray-500 dark:text-gray-400">
            A versatile backend language used for handling server-side logic, API development, and powering features
            with its rich ecosystem.
          </p>
        </div>

        <!-- MongoDB -->
        <div>
          <div class="flex justify-center mb-4">
            <app-brands [wh]="16" [mongodb]="true"/>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">MongoDB</h3>
          <p class="text-gray-500 dark:text-gray-400">
            A scalable NoSQL database designed for storing and querying data efficiently, ideal for modern web
            applications.
          </p>
        </div>

        <!-- Docker -->
        <div>
          <div class="flex justify-center mb-4">
            <app-brands [wh]="16" [docker]="true"/>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Docker</h3>
          <p class="text-gray-500 dark:text-gray-400">
            A containerization platform used to deploy the application consistently across different environments,
            ensuring scalability and reliability.
          </p>
        </div>
      </div>
    </div>


  </div>


</section>


<app-cta-home/>

<app-latest-blogs/>
<app-documentation-home/>
<app-subscribe-newsletter/>
