<!-- Container that uses Angular's async pipe to handle the observable projects$ - START -->
<ng-container *ngIf="projects$ | async as projects; else loadingData">

  <section>
    <div class="py-8 px-4 mx-auto container lg:py-16 lg:px-6">

      <!-- Title and description of the blog section - START -->
      <app-hero-title title="pages.projects.title" subtitle="pages.projects.description"/>
      <!-- Title and description of the blog section - END -->

        <!-- Container to handle the scenario when there is no error - START -->
        <ng-container *ngIf="!error">

          <!-- Looping through the projects array and displaying its properties - START -->
          <div *ngFor="let project of projects; let i = index">
              <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-10 bg-red-300">
                <div>
                  <img *ngIf="!project.image" src="https://via.placeholder.com/600x400" alt="Project Image" class="">
                  <img *ngIf="project.image" [src]="_getImageByName.getProjectImageUrl(project.image)" [alt]="project.title" class="">
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-3xl font-bold mb-2">{{ project.title }}</h3>
                  <a [href]="project.website" class="text-blue-400 mb-4">{{ project.website }}</a>
                  <p class="mb-4">{{ project.content }}</p>
                  <p>{{ project.datum_vnosa | slovenianDate }}</p>
                </div>
              </div>

          </div>
          <!-- Looping through the projects array and displaying its properties - END -->

        </ng-container>
        <!-- Container to handle the scenario when there is no error - END -->

        <!-- Error message display if the data fetching fails - START -->
        <ng-container *ngIf="error">
          {{ error }}
        </ng-container>
        <!-- Error message display if the data fetching fails - END -->
      </div>
  </section>
</ng-container>
<!-- Container that uses Angular's async pipe to handle the observable projects$ - END -->

<!-- Template to show loading spinner and text while data is being fetched - START -->
<ng-template #loadingData>
  <app-loading/>
</ng-template>
<!-- Template to show loading spinner and text while data is being fetched - END -->
<!-- Container -->


