<!-- Container that uses Angular's async pipe to handle the observable users$ - START -->
<ng-container *ngIf="users$ | async as users; else loadingData">

  <!-- Container to handle the scenario when there is no error - START -->
  <ng-container *ngIf="!error">

    <section>
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">

        <!-- Title and description of the blog section - START -->
        <app-hero-title title="pages.users.title" subtitle="pages.users.description"/>
        <!-- Title and description of the blog section - END -->

        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:mt-24 mt-12">

          <div class="text-center text-gray-500 dark:text-gray-400" *ngFor="let user of users">
            <img class="mx-auto mb-4 w-52 h-52 rounded-full bg-white" [src]="'https://robohash.org/' + user.username"
                 alt="Bonnie Avatar">
            <h3 class="mb-1 text-2xl font-bold tracking-tight text-white">
              <a [routerLink]="['/user/', user._id]">{{ user.full_name }}</a>
            </h3>
            <p>{{ user.profession }}</p>

            <app-social-platforms
              [youtube]="user.youtube"
              [facebook]="user.facebook"
              [instagram]="user.instagram"
              [twitter]="user.twitter"
              [github]="user.github"
              [www]="user.www" />

          </div>
        </div>
      </div>
    </section>
  </ng-container>
  <!-- Container to handle the scenario when there is no error - END -->

  <!-- Error message display if the data fetching fails - START -->
  <ng-container *ngIf="error">
    <div class="flex-1 text-center text-xl py-12">
      {{ error }}
    </div>
  </ng-container>
  <!-- Error message display if the data fetching fails - END -->
</ng-container>
<!-- Container that uses Angular's async pipe to handle the observable users$ - END -->

<!-- Template to show loading spinner and text while data is being fetched - START -->
<ng-template #loadingData>
  <app-loading/>
</ng-template>
<!-- Template to show loading spinner and text while data is being fetched - END -->
