<app-breadcrumb-admin first="breadcrumb.experiences"/>

<!-- Button to navigate to the add experiences admin page - START -->
<ng-container *ngIf="experiences$ && !loading && !error">
  <div class="flex justify-center pb-5">
    <app-button-admin [width]="true" [routerLink]="'/add-experiences-admin'"/>
  </div>
</ng-container>
<!-- Button to navigate to the add experiences admin page - END -->

<!-- Container to check if experiences data is available, and show content or loading template accordingly - START -->
<ng-container *ngIf="experiences$ | async as experiences">

  <div cdkDropList class="container mx-auto px-4" (cdkDropListDropped)="drop($event)">
    <div class="bg-background-menu shadow overflow-hidden sm:rounded-lg">
      <ul class="divide-y divide-gray-200">

        <!-- Loop through each subscriber and display its information along with action buttons - START -->

        <li class="flex bg-background-menu items-center p-4"
           *ngFor="let experience of experiences; let i = index" cdkDrag>
          <div class="flex-1 min-w-0">
            <div class="flex items-center">
              <!-- Drag handle -->
              <div class="cursor-move mr-4">
                <div class="ms-2">
                  <strong class="text-red-600">{{ i + 1 }}</strong>
                </div>
                <svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 6h.01M8 10h.01M8 14h.01M8 18h.01M12 6h.01M12 10h.01M12 14h.01M12 18h.01M16 6h.01M16 10h.01M16 14h.01M16 18h.01"></path>
                </svg>
              </div>

              <div class="flex-1">
          <app-show-data
            [company]="experience.company"
            [stack]="experience.stack"
            [company_start]="experience.company_start"
          />
              </div>
            </div>
          </div>
          <!-- Component to display data data - END -->

          <!-- Buttons for editing and deleting data, and opening a dialog - START -->
          <div class="ml-4 flex-shrink-0 flex space-x-2">

          <!-- Buttons for editing and deleting experience, and opening a dialog - START -->
          <app-button-admin
            (dialogRead)="openDialog(experience._id)"
            [routerLinkId]="['/edit-experiences-admin', experience._id ?? '']"
            (delete)="deleteExperience(experience._id)"
          />
          <!-- Buttons for editing and deleting experience, and opening a dialog - END -->
          </div>
        </li>
        <!-- Loop through each blog and display its information along with action buttons - END -->
      </ul>
    </div>
  </div>
  <!-- Loop through each experience and display its information along with action buttons - END -->

</ng-container>
<!-- Container to check if experiences data is available, and show content or loading template accordingly - END -->

<!-- Error message display if the data fetching fails - START -->
<ng-container *ngIf="error && !loading">
  {{ error }}
</ng-container>
<!-- Error message display if the data fetching fails - END -->

<!-- Loading spinner - START -->
<ng-container *ngIf="loading">
  <app-loading></app-loading>
</ng-container>
<!-- Loading spinner - END -->

<!-- Button to navigate back to the previous page - START -->
<app-go-back [inLocalStorage]="'experiencesOrder'" [removeBoolean]="true" (remove)="removeOrder()" />
<!-- Button to navigate back to the previous page - END -->
