<div *ngIf="_id">ID: {{ _id }}</div>
<div *ngIf="title">Title: {{ title }}</div>
<div *ngIf="naslov">Naslov: {{ naslov }}</div>
<div *ngIf="kategorija">Kategorija: {{ kategorija }}</div>
<div *ngIf="podnaslov">Podnaslov: {{ podnaslov }}</div>
<div *ngIf="vsebina">Vsebina: {{ vsebina }}</div>
<div *ngIf="image">Image: <img [src]="image" class="max-h-40" alt="Image"></div>
<div *ngIf="datum_vnosa">Datum vnosa: {{ datum_vnosa | date:'short' }}</div>
<div *ngIf="stack">Stack: {{ stack }}</div>
<div *ngIf="framework">Framework: {{ framework }}</div>
<div *ngIf="programming_language">Programming Language: {{ programming_language }}</div>
<div *ngIf="company">Company: {{ company }}</div>
<div *ngIf="employee !== undefined">Employee: {{ employee }}</div>
<div *ngIf="tasks">Tasks: {{ tasks }}</div>
<div *ngIf="company_start">Company Start: {{ company_start | date }}</div>
<div *ngIf="company_end">Company End: {{ company_end | date }}</div>
<div *ngIf="blog_id">Blog ID: {{ blog_id }}</div>
<div *ngIf="content">Content: {{ content }}</div>
<div *ngIf="author">Author: {{ author }}</div>
<div *ngIf="name">Name: {{ name }}</div>
<div *ngIf="surname">Surname: {{ surname }}</div>
<div *ngIf="email">Email: {{ email }}</div>
<div *ngIf="message">Message: {{ message }}</div>
<div *ngIf="link">Link: <a [href]="link" target="_blank">{{ link }}</a></div>
<div *ngIf="subtitle">Subtitle: {{ subtitle }}</div>
<div *ngIf="category">Category: {{ category }}</div>
<div *ngIf="github">GitHub: {{ github }}</div>
<div *ngIf="website">Website: {{ website }}</div>
<div *ngIf="confirmed !== undefined">Confirmed: {{ confirmed }}</div>
<div *ngIf="username">Username: {{ username }}</div>
<div *ngIf="full_name">Full Name: {{ full_name }}</div>
<div *ngIf="profession">Profession: {{ profession }}</div>
<div *ngIf="technology">Technology: {{ technology }}</div>
<div *ngIf="description">Description: {{ description }}</div>
<div *ngIf="hashed_password">Hashed Password: {{ hashed_password }}</div>
<div *ngIf="registered !== undefined">Registered: {{ registered }}</div>
<div *ngIf="blog_notification !== undefined">Blog Notification: {{ blog_notification }}</div>
<div *ngIf="tehnologija">Tehnologija: {{ tehnologija }}</div>
