<div *ngIf="_id" (click)="copyToClipboard(_id)"><strong>ID: </strong> <span class="cursor-pointer hover:text-red-600">{{ _id }}</span></div>
<div *ngIf="title"><strong>Title: </strong> {{ title }}</div>
<div *ngIf="naslov"><strong>Naslov: </strong> {{ naslov }}</div>
<div *ngIf="kategorija"><strong>Kategorija: </strong> {{ kategorija }}</div>
<div *ngIf="podnaslov"><strong>Podnaslov: </strong> {{ podnaslov }}</div>
<div *ngIf="vsebina"><strong>Vsebina: </strong> {{ vsebina }}</div>
<div *ngIf="role"><strong>Vloga: </strong> <span class="text-red-600">{{ role }}</span></div>
<div *ngIf="datum_vnosa"><strong>Datum vnosa: </strong> {{ datum_vnosa | date:'short' }}</div>
<div *ngIf="stack"><strong>Stack: </strong> {{ stack }}</div>
<div *ngIf="framework"><strong>Framework: </strong> {{ framework }}</div>
<div *ngIf="programming_language"><strong>Programming Language: </strong> {{ programming_language }}</div>
<div *ngIf="company"><strong>Company: </strong> {{ company }}</div>
<div *ngIf="employee !== undefined"><strong>Employee: </strong> {{ employee }}</div>
<div *ngIf="tasks"><strong>Tasks: </strong> {{ tasks }}</div>
<div *ngIf="company_start"><strong>Company Start: </strong> {{ company_start | date }}</div>
<div *ngIf="company_end"><strong>Company End: </strong> {{ company_end | date }}</div>
<div *ngIf="blog_id" (click)="copyToClipboard(blog_id)"><strong>Blog ID: </strong> <span class="cursor-pointer hover:text-red-600">{{ blog_id }}</span></div>
<div *ngIf="content"><strong>Content: </strong> {{ content }}</div>
<div *ngIf="author"><strong>Author: </strong> {{ author }}</div>
<div *ngIf="name" (click)="copyToClipboard(name)"><strong>Name: </strong> <span class="cursor-pointer hover:text-red-600">{{ name }}</span></div>
<div *ngIf="surname" (click)="copyToClipboard(surname)"><strong>Surname: </strong> <span class="cursor-pointer hover:text-red-600">{{ surname }}</span></div>
<div *ngIf="email" (click)="copyToClipboard(email)"><strong>Email: </strong> <span class="cursor-pointer hover:text-red-600">{{ email }}</span></div>
<div *ngIf="message"><strong>Message: </strong> {{ message }}</div>
<div *ngIf="link"><strong>Link: </strong> <a [href]="link" target="_blank">{{ link }}</a></div>
<div *ngIf="subtitle"><strong>Subtitle: </strong> {{ subtitle }}</div>
<div *ngIf="category"><strong>Category: </strong> {{ category }}</div>
<div *ngIf="github"><strong>GitHub: </strong> {{ github }}</div>
<div *ngIf="website"><strong>Website: </strong> {{ website }}</div>
<div *ngIf="confirmed !== undefined"><strong>Confirmed: </strong> {{ confirmed }}</div>
<div *ngIf="username" (click)="copyToClipboard(username)"><strong>Username: </strong> <span class="cursor-pointer hover:text-red-600">{{ username }}</span></div>
<div *ngIf="full_name" (click)="copyToClipboard(full_name)"><strong>Full Name: </strong> <span class="cursor-pointer hover:text-red-600">{{ full_name }}</span></div>
<div *ngIf="profession"><strong>Profession: </strong> {{ profession }}</div>
<div *ngIf="technology"><strong>Technology: </strong> {{ technology }}</div>
<div *ngIf="description"><strong>Description: </strong> {{ description }}</div>
<div *ngIf="hashed_password"><strong>Hashed Password: </strong> {{ hashed_password }}</div>
<div *ngIf="registered !== undefined"><strong>Registered: </strong> {{ registered }}</div>
<div *ngIf="blog_notification !== undefined"><strong>Blog Notification: </strong> {{ blog_notification }}</div>
<div *ngIf="tehnologija"><strong>Tehnologija: </strong> {{ tehnologija }}</div>
<div *ngIf="imageName" (click)="copyToClipboard(imageName)"><strong>Image: </strong> <span class="cursor-pointer hover:text-red-600">{{ imageName }}</span></div>
<div *ngIf="blogById && (blog_id && blog_id.length > 16)"><span class="cursor-pointer hover:text-red-600"><a [routerLink]="['/blog/', blog_id]">Go to blog</a></span></div>
