<!-- Form declaration with Angular reactive form binding -->
<form class="flex flex-col" style="width: 400px" [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Display the value of 'naslov' from 'formData' -->
  {{formData['naslov']}}

  <!-- Loop through each field in the form configuration array 'formConfig' -->
  <div *ngFor="let field of formConfig">

    <!-- Label for the form field -->
    <label [for]="field.name">{{ field.label }}</label>

    <!-- Input field for text type -->
    <input class="w-full"
           *ngIf="field.type === 'text'" [type]="field.type" [id]="field.name" [formControlName]="field.name"
    />

    <!-- Input field for email type -->
    <input class="w-full"
           *ngIf="field.type === 'email'" [type]="field.type" [id]="field.name" [formControlName]="field.name"
    />

    <!-- Input field for number type -->
    <input class="w-full"
           *ngIf="field.type === 'number'" [type]="field.type" [id]="field.name" [formControlName]="field.name"
    />

    <!-- Input field for number type -->
    <input class="m-1"
           *ngIf="field.type === 'checkbox'" [type]="field.type" [id]="field.name" [formControlName]="field.name"
           (change)="onCheckboxChange(field.name)"
           [checked]="form.controls[field.name].value"

    />

    <!-- Textarea element for textarea type -->
    <textarea class="w-full"
              *ngIf="field.type === 'textarea'" [id]="field.name" [formControlName]="field.name">
    </textarea>

    <!-- Error message for required fields -->
    <!-- Display the error message if the form control is invalid and has been touched -->
    <div *ngIf="form.controls[field.name].invalid && form.controls[field.name].touched">
      <!-- Display specific error message for 'required' validation -->
      <div *ngIf="form.controls[field.name].errors?.['required']">{{ field.label }} is required</div>
    </div>
  </div>

  <!-- Submit button for the form -->
  <button class="btn-admin edit"
          type="submit">{{ BUTTONS.edit | translate }}</button>
</form>
